# Variáveis para página principal (index.html) e disparo de e-mail.
TRANSACTION_ENCRYPTION_PASSWORD = 'Alguma combinação aleatória para criptografar dados.'
MY_EMAIL = 'Seu Gmail para fazer envio.'
MY_EMAIL_PASSWORD = 'Senha de Apps do seu Gmail acima.'
YEAR_BIRTH = 'Ano do seu nascimento.'
MONTH_BIRTH = 'Mês do seu nascimento.'
DAY_BIRTH = 'Dia do seu nascimento.'
YEAR_JOINING_COMPANY = 'Ano em que iniciou na empresa atual. Como eu iniciei no inicio do ano, não fiz função para cálculo correto, mas dependendo do seu caso, pode copiar a função calcular_idade e adequar valores para calcular tempo de empresa.'

# Variáveis para geração de contrato com a Clicksign.
BASE_URL = 'https://sandbox.clicksign.com/api/v3'  # URL da versão da API que estiver usando
ACCESS_TOKEN = 'Token da sua conta Cliksign'
TEMPLATE_ID = 'ID do modelo de contrato'