anyio==4.8.0
asttokens==3.0.2
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comm==0.2.3
coverage==7.6.10
debugpy==1.8.21
decorator==5.3.1
executing==2.2.1
Flask==3.1.3
Flask-Mail==0.10.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
iniconfig==2.0.0
ipykernel==7.3.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.20.0
Jinja2==3.1.5
jupyter_client==8.9.1
jupyter_core==5.9.1
MarkupSafe==3.0.2
matplotlib-inline==0.2.2
nest-asyncio2==1.7.2
packaging==24.2
parso==0.8.7
pexpect==4.9.0
platformdirs==4.11.3
pluggy==1.5.0
-e git+https://github.com/rodten23/portal_rodten23.git@fe444b7e3d9848bec729f2e9c159b28880736c8c#egg=portal_rodten23
prompt_toolkit==3.0.53
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.21.0
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pyzmq==27.2.0
requests==2.34.2
ruff==0.8.4
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
taskipy==1.14.1
tomli==2.2.1
tornado==6.5.8
traitlets==5.16.1
typing_extensions==4.16.0
urllib3==2.3.0
wcwidth==0.8.2
Werkzeug==3.1.3
