<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Rodrigo Alves Tenório</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/rodrigo_perfil.jpg" alt="Foto do Rodrigo">

            <h1>RodTen23</h1>

            <div class="social-links mt-4 text-center">

                <a target="_blank" href="https://www.linkedin.com/in/rodrigoalvestenorio">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/rodten23">
                    <i class="bi bi-github"></i>
                </a>    

            </div>
        </section>

        <nav id="navbar" class="nav-menu">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">
                        <i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person-square"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio">
                        <i class="bi bi-collection"></i> Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope"></i> Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#agradecimentos">
                        <i class="bi bi-chat-left-heart"></i> Agradecimentos e Créditos</a>
                </li>              
            </ul>

        </nav>
    </aside>

    <main id="main">

        <section class="row m-0 p-0" id="inicio">
            <div class="col-mt-5 d-flex justify-content-end flex-column">
                <h2 class="text-white text-shadow">Rodrigo Alves Tenório</h2>
                <span id="subtitle" class="text-white text-shadow">Gerente de Projetos, Arquiteto de Soluções e Desenvolvedor</span>
            </div>
            
            <div class="col-mt-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>            
            </div>
        </section>

        <section class="container mt-5" id="sobre">

            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Trabalho há tanto tempo...</p>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <img class="img-fluid shadow" src="../static/img/rodrigo_perfil.jpg" alt="Foto do Rodrigo" data-anime="left">
                    </div>

                    <div class="col-md-9" data-anime="right">
                        <h3 class="cargo">Arquiteto de Soluções <span class="fs-6 fw-lighter">(pleno)</span></h3>
                        <p>Desde 2023 atuo como gerente de projetos na Vivo...</p>

                        <div class="row mt-3 mb-3">

                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        <img class="student" src="../static/img/student.png" alt="student - ícone do Freepik" height="45">
                                        Idade: <span class="fw-lighter">{{ idade }} anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        <img class="buddha" src="../static/img/buddha.png" alt="buddha - ícone do Freepik" height="45">
                                        Religião: <span class="fw-lighter">Zen Budismo</span>
                                    </li>
                                    <li class="list-group-item">
                                        <img class="sou_de" src="../static/img/brazil_16779443.png" alt="brazil_16779443 - ícone do Freepik" height="36">
                                        Sou de: <span class="fw-lighter">São Caetano do Sul / SP</span>
                                    </li>
                                    <li class="list-group-item">
                                        <img class="livros" src="../static/img/book_17242690a.png" alt="book_17242690 - ícone do Freepik" height="34">
                                        Hobbies: <span class="fw-lighter">Encadernação Artesanal e Cozinhar</span>
                                    </li>              
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        <img class="id-card" src="../static/img/id-card_3902873.png" alt="id-card_3902873 - ícone do Freepik" height="45">
                                        Trabalho atual: <a target="_blank" href="https://www.linkedin.com/company/vivo-telefonicabr/"><span class="fw-lighter">Vivo (Telefônica Brasil)</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <img class="rocket" src="../static/img/rocket_2261342.png" alt="rocket_2261342 - ícone do Freepik" height="38">
                                        Experiência em TI: <span class="fw-lighter">{{ experiencia }} anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        <img class="unity" src="../static/img/cube.png" alt="cube - ícone do Freepik" height="40">
                                        Experiência anteriores: <span class="fw-lighter">Micro-empresário e Designer Gráfico</span>
                                    </li> 
                                </ul>
                            </div>

                        </div>

                        <p>Além de gerente de projetos, também estou atuando com arquiteto de soluções...</p>                        
                    </div>

                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas, com a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que acredito tem em cada uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0" id="habilidade">Linux</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Redes</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Microsoft Azure</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                    </div>

                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0" id="habilidade">Linux</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Redes</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Microsoft Azure</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="mt-5 cv" id="curriculo">
            
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <h3 class="cv-title">Certificações</h3>
                
                <div class="row">

                    <div class="col-md-4">
                        <div class="cv-cert" data-anime="right">
                            <h4>AZ-900</h4>
                            <h6>Microsoft Certified: Azure Fundamentals</h6>
                            <p><a target="_blank" href=""> Exibir detalhes de certificação</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="cv-cert" data-anime="right">
                            <h4>DP-900</h4>
                            <h6>Microsoft Certified: Azure Data Fundamentals</h6>
                            <p><a target="_blank" href="https://learn.microsoft.com/api/credentials/share/pt-br/rodten23/B3755F1F95228FA2?sharingId=498C392E2DCBB64B"> Exibir detalhes de certificação</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="cv-cert" data-anime="right">
                            <h4>AI-900</h4>
                            <h6>Microsoft Certified: Conceitos básicos da IA do Azure</h6>
                            <p><a target="_blank" href="https://learn.microsoft.com/api/credentials/share/pt-br/rodten23/D6F39E558839E38B?sharingId=498C392E2DCBB64B"> Exibir detalhes de certificação</a></p>
                        </div>
                    </div>
                </div>
                

                <div class="row">
                    
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Desenvolve Boticário</h4>
                            <h6>Jan - Jul / 2023</h6>
                            <p><em>Alura / Grupo O Boticário</em></p>
                            <p>Formação em DevOps com contéudos da Alura e mentoria de profissionais O Boticário.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Desenvolve Boticário</h4>
                            <h6>Jan - Jul / 2023</h6>
                            <p><em>Alura / Grupo O Boticário</em></p>
                            <p>Formação em DevOps com contéudos da Alura e mentoria de profissionais O Boticário.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Desenvolve Boticário</h4>
                            <h6>Jan - Jul / 2023</h6>
                            <p><em>Alura / Grupo O Boticário</em></p>
                            <p>Formação em DevOps com contéudos da Alura e mentoria de profissionais O Boticário.</p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Instrutor de certificação AI-900</h4>
                            <h6>2022 - 2023</h6>
                            <p><em>FAT - Projeto Minha Chance</em></p>
                            <p>Instrutor do conteúdo Microsoft Learn para certificação AI-900 de fundamentos em Inteligência Artificial.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Instrutor de certificação AI-900</h4>
                            <h6>2022 - 2023</h6>
                            <p><em>FAT - Projeto Minha Chance</em></p>
                            <p>Instrutor do conteúdo Microsoft Learn para certificação AI-900 de fundamentos em Inteligência Artificial.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Instrutor de certificação AI-900</h4>
                            <h6>2022 - 2023</h6>
                            <p><em>FAT - Projeto Minha Chance</em></p>
                            <p>Instrutor do conteúdo Microsoft Learn para certificação AI-900 de fundamentos em Inteligência Artificial.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="portifolio">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portifólio</h2>

                <div id="carouselPortifolio" class="carousel carousel-dark slide">

                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>

                    <div class="carousel-inner">

                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog-pessoal.png" class="card-img-top img-fluid w-100" alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/rodten23/portal_rodten23" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <a href="https://wordpress.com/pt-br/" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                              
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma.png" class="card-img-top" alt="Platatorma Educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma Educacional</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog-pessoal.png" class="card-img-top img-fluid w-100" alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/rodten23/portal_rodten23" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <a href="https://wordpress.com/pt-br/" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                              
                                </div>
                            </div>                            
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma.png" class="card-img-top" alt="Platatorma Educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma Educacional</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog-pessoal.png" class="card-img-top img-fluid w-100" alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/rodten23/portal_rodten23" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <a href="https://wordpress.com/pt-br/" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                              
                                </div>                                

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma.png" class="card-img-top" alt="Platatorma Educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma Educacional</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>                      
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>São Paulo, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> E-mail:</h4>
                                <p>rodten23@gmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20685.56788031337!2d-46.5809264679727!3d-23.57827046430371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5dabdece4ac5%3A0x7e77130f757eb965!2sAv.%20Professor%20Luiz%20Ign%C3%A1cio%20Anhaia%20Mello%20-%20Vila%20Prudente%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1703799720941!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="right">

                            <form class="row g-3" action='/send' method="POST">

                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome..." required>
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">E-mail:</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail..." required>
                                </div>
                                
                                <div class="col-12">
                                    <label for="message" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="message" name="message" rows="9" placeholder="Digite sua mensagem..." required></textarea>
                                </div>
                                
                                <div class="col-12 d-flex justify-content-center mt-5">
                                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar mensagem</button>

                                    <button id="btn-enviando" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                        <span role="status">Enviando...</span>
                                      </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="agradecimentos">

            <div class="container pb-5">
                <div class="row w-100">
                    <div class="col-md-12" data-anime="down">
                        <h2 class="pt-5">Agradecimentos e Créditos</h2>
                        <h5 class="fw-lighter">Deixo aqui meus agradecimentos especiais para...</h5>
                    </div>
    
                    <div class="row mt-4">
                        <div class="col-md-6" data-anime="left">
                            <div class="row mt-3 mb-3">
                                <div>
                                    <ul class="list-group list-group-flush fs-5">
                                        <li class="list-group-item"><i class="bi bi-heart-fill"></i> <span class="familia fw-bolder"> Minha família</span><span class="fw-lighter">, por todo Amor, Carinho e Suporte que sempre me deram.</span> <span class="amo fw-bolder"> Amo Vocês! </span><i class="bi bi-heart-fill"></i>
                                        </li>
                                        <li class="list-group-item"><a target="_blank" href="https://vivo.com.br/para-empresas/meu-vivo-empresas">Equipe Vivo Empresas</a><span class="fw-lighter">, uma verdadeira família, que me deu a oportunidade de migrar para carreira de TI, além de sempre me incentivar e orientar para ser um profissional cada vez melhor.</span>
                                        </li>
                                        <li class="list-group-item"><a target="_blank" href="https://www.youtube.com/@Diolinux">Diolinux (Dionatan Simioni)</a><span class="fw-lighter">, pois foi com sua incrível didática e enormes conhecimento e carisma que entrei pra valer no mundo Linux e no estudo de tecnologias.</span>
                                        </li>
                                        <li class="list-group-item"><a target="_blank" href="https://www.cursoemvideo.com/">Gustavo Guanabara (Curso em Vídeo)</a><span class="fw-lighter"> e o </span><a target="_blank" href="https://www.youtube.com/@Dunossauro">Dunossauro (Eduardo Mendes)</a><span class="fw-lighter">, dois caras fantásticos que de tem conhecimento e didática sem igual e fazem um exemplar trabalho de educação tecnológica.</span>
                                        </li>
                                        <li class="list-group-item"><a target="_blank" href="https://www.salvatore.academy/">Paulo Salvatore</a><span class="fw-lighter"> e ao time </span><a target="_blank" href="https://www.oceanbrasil.com/">Samsung Ocean</a><span class="fw-lighter">, por todo o aprendizado em tecnologia que tive com vocês.</span>
                                        </li>
                                        <li class="list-group-item"><a target="_blank" href="https://www.youtube.com/@thi_code">Thi Code (Thiago Veiga Lima)</a><span class="fw-lighter">, mais um excelente professor que gentilmente fez o curso que me permitiu desenvolver este site.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" data-anime="right">
                            <div class="row mt-3 mb-3">
                                <div>
                                    <ul class="list-group list-group-flush fs-5">
                                        <li class="list-group-item">
                                            <a target="_blank" href="https://www.python.org/">Python</a> <span class="fw-lighter">e sua comunidade por tudo que são e representam.</span>
                                        </li>
                                        <li class="list-group-item">
                                            <a target="_blank" href="https://github.com/">Github</a> <span class="fw-lighter">por todo apoio que que dá aos desenvolvedores.</span>
                                        </li>
                                        <li class="list-group-item">
                                            <a target="_blank" href="https://br.freepik.com">Freepik</a> <span class="fw-lighter">,</span> <a target="_blank" href="https://br.freepik.com/autor/dcstudio">DC Studio</a> <span class="fw-lighter">,</span> <a target="_blank" href="https://br.freepik.com/autor/kjpargeter">kjpargeter</a> <span class="fw-lighter">e</span> <a target="_blank" href="https://www.freepik.com/author/icongeek26">Icongeek26</a> <span class="fw-lighter">pela foto da seção Início, ilustração do menu e ícones da seção Sobre.</span>
                                        </li>
                                        <li class="list-group-item">
                                            <a target="_blank" href="https://learn.microsoft.com/pt-br/training/">Microsoft</a> <span class="fw-lighter">pelo excelente conteúdo do Learn e possibilitar a publicação deste site gratuitamente. </span>
                                        </li>
                                    </ul>
                                </div>                                    
                            </div>                       
                        </div>
                    </div>
                </div>

                <div class="outros">
                    <div class="text-center">
                        <h5>E meu profundo agradecimento também às inúmeras pessoas que ajudaram na minha formação e me trouxeram onde estou.</h5>
                    </div>
                </div>      

                <div class="dev">
                    <div class="text-center">
                        <p class="fw-lighter fst-italic"><br><br><br>Este site foi desenvolvido usando Python (Flask), HTML, CSS e Javascript, com repositório no Github e implatação no Microsoft Azure (Aplicativo Web).</p>
                    </div>
                </div>  
            </div>
        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; {{ ano_corrente }}  Copyright  <strong>RodTen23</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
    
</body>
</html>