<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Rodrigo Alves Tenório</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/rodrigo_perfil.jpg" alt="Foto do Rodrigo">

            <h1>Rodrigo Alves Tenório</h1>

            <div class="social-links mt-4 text-center">

                <a target="_blank" href="https://www.linkedin.com/in/rodrigoalvestenorio">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/rodten23">
                    <i class="bi bi-github"></i>
                </a>    

            </div>
        </section>

        <nav id="navbar" class="nav-menu">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">
                        <i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio">
                        <i class="bi bi-collection"></i> Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope"></i> Contato</a>
                </li>                
            </ul>

        </nav>
    </aside>

    <main id="main">

        <section class="row m-0 p-0" id="inicio">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Rodrigo Alves Tenório</h2>
                <span id="subtitle" class="text-white text-shadow">Gerente de Projetos, Arquiteto de Soluções e Desenvolvedor</span>
            </div>
            
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>            
            </div>
        </section>

        <section class="container mt-5" id="sobre">

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Trabalho há tanto tempo...</p>
                </div>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="../static/img/rodrigo_perfil.jpg" alt="Foto do Rodrigo">
                    </div>

                    <div class="col-md-8">
                        <h3>Gerente de Projetos</h3>
                        <p>Desde 2023 atuo como gerente de projetos na Vivo...</p>

                        <div class="row mt-3 mb-3">

                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Niver: <span class="fw-lighter">23 de Outubro</span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fw-lighter">42 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-lighter">São Paulo</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fw-lighter">SP</span>
                                    </li>                                    
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter">Cozinhar</span>
                                    </li>
                                    <li class="list-group-item">
                                        Site: <a href="https://..."
                                        target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">links.rodten23</a>
                                    </li>
                                    <li class="list-group-item">
                                        Trabalho: <a href="https://vivo..."
                                        target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">Vivo</a>
                                    </li>
                                    <li class="list-group-item">
                                        Experiência: <span class="fw-lighter">18 meses</span>
                                    </li>  
                                </ul>
                            </div>

                        </div>

                        <p>Além de gerente de projetos, também estou atuando com arquiteto de soluções...</p>                        
                    </div>

                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas, com a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que acredito tem em cada uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0" id="habilidade">Linux</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Redes</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Microsoft Azure</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                    </div>

                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0" id="habilidade">Linux</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Redes</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">Microsoft Azure</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0" id="habilidade">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                    </div>

                </div>
            </div>



        </section>

        <section class="mt-5 cv" id="curriculo">
            
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Desenvolve Boticário</h4>
                            <h5>Jan - Jul / 2023</h5>
                            <p><em>Alura / Grupo O Boticário</em></p>
                            <p>Formação em DevOps com contéudos da Alura e mentoria de profissionais O Boticário.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Desenvolve Boticário</h4>
                            <h5>Jan - Jul / 2023</h5>
                            <p><em>Alura / Grupo O Boticário</em></p>
                            <p>Formação em DevOps com contéudos da Alura e mentoria de profissionais O Boticário.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Desenvolve Boticário</h4>
                            <h5>Jan - Jul / 2023</h5>
                            <p><em>Alura / Grupo O Boticário</em></p>
                            <p>Formação em DevOps com contéudos da Alura e mentoria de profissionais O Boticário.</p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item">
                            <h4>Instrutor de certificação AI-900</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>FAT - Projeto Minha Chance</em></p>
                            <p>Instrutor do conteúdo Microsoft Learn para certificação AI-900 de fundamentos em Inteligência Artificial.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Instrutor de certificação AI-900</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>FAT - Projeto Minha Chance</em></p>
                            <p>Instrutor do conteúdo Microsoft Learn para certificação AI-900 de fundamentos em Inteligência Artificial.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Instrutor de certificação AI-900</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>FAT - Projeto Minha Chance</em></p>
                            <p>Instrutor do conteúdo Microsoft Learn para certificação AI-900 de fundamentos em Inteligência Artificial.</p>
                        </div>
                        
                    </div>
                </div>

            </div>

        </section>

        <section class="mt-5 section-bg" id="portifolio">
            <div class="container pb-5 pt-5">

                <h2 class="pb-4">Portifólio</h2>

                <div id="carouselPortifolio" class="carousel carousel-dark slide">

                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>

                    <div class="carousel-inner">

                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog-pessoal.png" class="card-img-top img-fluid w-100" alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/rodten23/portal_rodten23" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <a href="https://wordpress.com/pt-br/" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                              
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma.png" class="card-img-top" alt="Platatorma Educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma Educacional</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog-pessoal.png" class="card-img-top img-fluid w-100" alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/rodten23/portal_rodten23" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <a href="https://wordpress.com/pt-br/" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                              
                                </div>

                            </div>                            
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma.png" class="card-img-top" alt="Platatorma Educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma Educacional</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog-pessoal.png" class="card-img-top img-fluid w-100" alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/rodten23/portal_rodten23" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <a href="https://wordpress.com/pt-br/" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                              
                                </div>                                

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma.png" class="card-img-top" alt="Platatorma Educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma Educacional</h5>
                                            <p class="card-text">Projeto backend criado com Python e usando Microsoft Azure...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>                            
                        </div>
                      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

        </section>

        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">

                    </div>

                    <div class="col-md-7">

                    </div>
                    
                </div>

            </div>


        </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
    
</body>
</html>